// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)
+font(Roboto-Regular, roboto-regular)
+font(Roboto-Medium, roboto-medium)
+font(Roboto-MediumItalic, roboto-medium-i)
+font(Roboto-Black, roboto-black)
+font(Roboto-BlackItalic, roboto-black-i)
+font(Roboto-Bold, roboto-bold)
+font(Roboto-BoldItalic, roboto-bold-i)
+font(Roboto-Italic, roboto-italic)
+font(Roboto-Light, roboto-light)
+font(Roboto-LightItalic, roboto-light-i)
+font(Roboto-Thin, roboto-thin)
+font(Roboto-ThinItalic, roboto-thin-i)
+font(robotocondensed-bold,robotocondensed-bold)
+font(Helvetica_Light-Normal,helveticaneuecyr-medium)
+font(HelveticaNeue, HelveticaNeue)
+font(HelveticaNeueBold, HelveticaNeueBold)

=reg
	font-family: "roboto-regular", Arial, sans-serif 
=med
	font-family: "roboto-medium", Arial, sans-serif
=med-i
	font-family: "roboto-medium-i", Arial, sans-serif 
=black
	font-family: "roboto-black", Arial, sans-serif 
=black-i
	font-family: "roboto-black-i", Arial, sans-serif
=bold
	font-family: "roboto-bold", Arial, sans-serif
=bold-i
	font-family: "roboto-bold-i", Arial, sans-serif 
=it
	font-family: "roboto-italic", Arial, sans-serif
=light
	font-family: "roboto-light", Arial, sans-serif
=light-i
	font-family: "roboto-light-i" , Arial, sans-serif 
=thin
	font-family: "roboto-thin", Arial, sans-serif
=thin-i
	font-family: "roboto-thin-i",   Arial, sans-serif
=cbold
	font-family: "robotocondensed-bold",   Arial, sans-serif 
=helvetica 
	font-family: "HelveticaNeue", sans-serif
=helvetica-bold
	font-family: "HelveticaNeueBold", sans-serif
=helvetica-reg
	font-family: "Helvetica_Light-Normal"
=arial
	font-family:  Arial, sans-serif
	
$blue: #2596ca
$l-blue: #87ccec
$orange: #ff8e41

[class^="icon-"], 
[class*=" icon-"]
	display: inline-block
.icon-add
	+svg(add,16,16)
.icon-arr2-b
	+s(arr2-b)
.icon-subway
	+s(subway)
.icon-mark_mini
	+s(mark_mini)
.icon-set
	+s(set)
.icon-clock
	+s(clock)
.icon-calendar
	+s(calendar)
.icon-like
	+s(like)
.icon-estimate
	+s(like-dislike)
.icon-msg
	+s(msg)
.icon-show
	+s(show)
.icon-like-w
	+s(like-w)
.icon-dislike-w
	+s(dislike-w)
	

//buttons
.btn-register
	width: 131px
	height: 32px
	line-height: 31px
	background-color: $orange
	border: 1px solid #e1762e
	border-radius: 5px
	+bold
	font-size: 18px
	font-weight: 700
	color: #fff
	+tr(all .3s)
	position: relative
	&.is-mod
		width: 219px
		height: 50px
		line-height: 48px
	&:hover
		background-color: #f8962d
	&:active
		top: 1px
.btn-send
	width: 232px
	height: 53px
	line-height: 51px
	background-color: #ff8e41
	border: 1px solid #e1762e
	border-radius: 5px
	+tr(all .4s)
	text-align: center
	position: relative
	+bold
	font-size: 18px
	color: #fff
	&:hover
		opacity: 0.8
	&:active
		top: 1px

.btn-like
	width: 70px
	height: 53px
	background-color: #6c3
	border-radius: 5px
	+vertical
	position: relative
	overflow: hidden
	&.btn_lg
		height: 50px
		width: 200px
		+bold
		font-size: 16px
		color: #fff
		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			bottom: 0
			right: 0
			width: 47px
			background-color: #5bb52d
		span
			margin-right: 47px
		i
			position: absolute
			right: 14px
			top: 0
			bottom: 0
			margin: auto
			z-index: 10
	&:hover
		opacity: 0.8
		+tr(all .4s)
	&:active
		top: 1px
.btn-dislike
	width: 70px
	height: 53px
	background-color: #eb635d
	border-radius: 5px
	+vertical
	position: relative
	overflow: hidden
	&.btn_lg
		height: 50px
		width: 200px
		+bold
		font-size: 16px
		color: #fff
		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			bottom: 0
			right: 0
			width: 47px
			background-color: #cf5953
		span
			margin-right: 47px
		i
			position: absolute
			right: 14px
			top: 0
			bottom: 0
			margin: auto
			z-index: 10
	&:hover
		opacity: 0.8
		+tr(all .4s)
	&:active
		top: 1px

body
	+reg
	font-size: 14px 
	line-height: 1.4
// common blocks      

.out
	width: 100% 
	min-width: 1024px
	margin: 0 auto 
.title
	+light
	font-size: 30px
	color: #111
	text-align: center
	&_big
		+reg
		font-size: 40px
	+r(1100)
		width: 80%
		margin: 0 auto 
.container
	width: 1085px
	margin: 0 auto
	padding: 0 10px  
	+clr
	&_no-pad
		padding: 0
	+r(1100)
		width: auto
		padding: 0 40px
.breadcrumbs
	margin: 40px 0
	.breadcrumbs__in
		font-size: 0
	ul
		font-size: 0
		li
			display: inline-block
			padding-right: 30px
			position: relative
			a
				+arial
				color: $blue
				+tr(color .3s)
				font-size: 14px
				text-decoration: none
				&:hover
					color: $l-blue
			&:after
				content: ''
				position: absolute
				right: 10px
				top: 50%
				margin-top: -5px  
				+s(arr)
			&:last-child
				padding-right: 0
				&:after
					display: none
				a
					color: #000
					pointer-events: none
.tabs
	overflow: hidden  
	margin: 20px 0 20px -5px
.tabs__item
	float: left  
	margin: 0 5px 0
	&.is-active
		.tabs__link
			background: #fff
			color: #000
			border-radius: 5px

.tabs__link
	display: block  
	padding: 10px 20px
	color: #4fb427
	text-decoration: none 
.tabs-content
	display: none
a.link
	color: #2596ca
	text-decoration: none
	+tr(color .3s)
	&:hover
		color: #87ccec
//stars
.stars
	font-size: 0
	margin-top: 5px
	.star
		display: inline-block
		vertical-align: top
		margin-right: 3px
		+s(star)
		cursor: pointer
		&.is-active
			+s(star-active)
		&.is-half
			+s(star-active-h)		
//input-date
.input-date
	position: relative
	overflow: hidden
	.input
		font-size: 14px
		padding: 0 13px
	.calendar
		position: absolute
		right: 1px
		top: 1px
		bottom: 1px
		background-color: #2596ca
		width: 44px
		border-left: 1px solid #e4ebed
		border-top-right-radius: 5px
		border-bottom-right-radius: 5px
		i 
			position: absolute
			top: 0
			bottom: 0
			margin: auto
			left: 0
			right: 0