.popup-wrap
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	background-color: rgba(0, 0, 0, .5)
	z-index: 1000
	overflow: auto
	+vertical
	display: none
	&.is-active
		display: block
	.popup
		width: 659px
		height: 564px
		background-color: #FFF
		display: inline-block
		vertical-align: middle
		position: relative
		padding: 34px 100px
		text-align: left
		.input
			border: 1px solid #e4ebed
			+reg
			line-height: 1
			font-size: 16px
			color: #b7c3c7
			height: 47px
			line-height: 47px
			background-color: #fff
			border-radius: 5px
			padding: 0 23px 0 16px
			display: block
			width: 100%
		.select-special
			color: #000
			text-align: center
			+reg
			font-size: 18px
		.select-service
			text-align: center
			overflow: hidden
		.select__list
			border: 1px solid #e4ebed
		.time
			margin-left: 5px
		.date
			position: relative
			overflow: hidden
			margin-right: 5px
			.input
				font-size: 14px
				padding: 0 13px
			.calendar
				position: absolute
				right: 1px
				top: 1px
				bottom: 1px
				background-color: #2596ca
				width: 44px
				border-left: 1px solid #e4ebed
				border-top-right-radius: 5px
				border-bottom-right-radius: 5px
				i 
					position: absolute
					top: 0
					bottom: 0
					margin: auto
					left: 0
					right: 0
		p 
			color: #000
			font-size: 16px
			line-height: 1
			+light
	.popup-close
		position: absolute
		right: 19px
		top: 0
		z-index: 10
		cursor: pointer
		+s(close)
	.popup-title
		+light
		line-height: 1
		font-size: 20px
		color: #000
	.popup-location
		+bold 
		font-size: 28px
		line-height: 1
		color: #000
		margin: 12px 0 25px
	.row
		font-size: 0
		margin-top: 19px
		&:nth-last-child(1)
			margin-top: 29px
		&:nth-last-child(2)
			margin-top: 27px
		&:nth-last-child(3)
			margin-top: 32px
		.col 
			display: inline-block
			vertical-align: middle
			width: 50%
			&.col1 
				padding-right: 15px
				width: 47%
			&.col2
				width: 53%
			&.is-left
				width: 54%
			&.is-right
				width: 46%
		.wrp
			text-align: center
